<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.first_name }}</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</head>
<body>
    <h1>{{user.first_name}}'s details</h1>

    <div>
        <div>
            <blockquote>{{user.greet()}} </blockquote>
        </div>
        <div class="col-sm-2 col-6"></div>>
            <img src="{{user.image_url}}" alt="{{user.first_name}}" width="200" height="250">
        </div>
        <div>
            <p>
                <b>First Name: {{user.first_name}}</b>
            </p>
            <p>
                <b>Last Name: {{user.last_name}}</b>
            </p>
        </div>
        
        <div class="col-sm-10 col-12">
            <form class="col-sm-5 col-5" action="/edit/{{user.id}}">
                <button class="btn btn-primary btn-sm" >EDIT</button>
            </form>
            <form class="col-sm-5 col-6" action="/delete/{{user.id}}" method="POST">
                <button class="btn btn-danger btn-sm">DELETE</button>
            </form>
        </div>
        <div>
            <a class="btn btn-sm btn-secondary" href="/">Back</a>
        </div>
    </div>
    
    

</body>
</html>