<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list_of_users</title>
</head>
<body>
    <H1>List of users</H1>
    <P>
        {% for user in users%}
        <li><a class="btn btn-sm btn-secondary" href="/{{user.id}}">{{user.first_name}}</a></li>
        {% endfor%}
    </P>
    <button><a class="btn btn-sm btn-secondary" href="/add_user"> Add a new user</a></button>
    
</body>
</html>